.ag-header-cell {
  height: 48px;
}

.ag-cell,
.ag-header-cell {
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.ag-cell-wrapper,
.ag-cell-value {
  min-width: 0;
}

.ag-cell:has(at-checkbox-cell),
.ag-header-cell:has(at-checkbox-header) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ag-header-cell atui-checkbox[aria-checked],
.ag-cell atui-checkbox[aria-checked],
atui-menu atui-checkbox[aria-checked] {
  background-color: transparent;
}

.ag-header-cell-text {
  font-size: var(--token-font-size-xs);
  font-weight: var(--token-font-weight-med);
}

.ag-header-cell[col-id=colorStatusCell],
.ag-cell[col-id=colorStatusCell] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: var(--colorStatusColWidth) !important;
  border: none !important;
}

.ag-theme-atui--has-rows .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-atui--has-rows .ag-layout-auto-height .ag-center-cols-viewport {
  min-height: unset !important;
}