:host .content {
  margin-bottom: 16px;
}
:host .hover-content {
  font-weight: var(--token-font-weight-normal);
}
:host .hover-menu[data-open] {
  display: none;
}

[data-name=menu-content-wrapper] {
  background-color: var(--token-sidebar-background);
}

[slot=submenu-hover-content] .sc-at-sidebar-menuitem-h .label.sc-at-sidebar-menuitem {
  color: var(--token-sidebar-foreground);
  font-weight: var(--token-font-weight-normal);
}