:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: var(--token-border-radius-md);
  cursor: pointer;
  padding: 8px;
  font-weight: var(--token-font-weight-med);
  color: var(--token-sidebar-foreground);
  height: var(--token-input-btn-height);
  background-color: var(--token-sidebar-background);
  transition: background-color var(--token-transition-time-fast), color var(--token-transition-time-fast), box-shadow var(--token-transition-time-fast);
}
:host i.material-icons {
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--token-font-size-icon-xl);
  z-index: 10;
}
:host div[data-name=focus-indicator] {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--token-sidebar-foreground);
  opacity: 0;
  transition: background-color var(--token-transition-time-fast);
}

:host(:hover) div[data-name=focus-indicator] {
  opacity: 0.1;
}

:host(:focus-visible) {
  outline: none;
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--token-state-active-foreground) 40%, transparent);
}