@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
dialog.backdrop::backdrop {
  margin: 0;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease forwards;
  transition: opacity var(--token-transition-time) ease-in-out allow-discrete;
}

dialog.backdrop::backdrop {
  z-index: var(--z-backdrop, 1000);
}

:host {
  display: contents;
}
:host dialog {
  position: fixed;
  inset: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  border: 0;
  padding: 0;
  background: transparent;
  z-index: var(--token-z-index-modal);
  transform-origin: center;
  opacity: 0;
  box-shadow: var(--token-shadow-3);
  visibility: hidden;
  transition: translate 0.3s ease, scale 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
}
:host dialog.backdrop {
  display: flex;
  width: 100vw;
  height: 100vh;
}
:host dialog[open] {
  translate: 0 0;
  scale: 1;
  opacity: 1;
  visibility: visible;
  transition: translate 0.3s ease, scale 0.3s ease, opacity 0.3s ease, visibility 0s linear;
}
@starting-style {
  :host dialog[open] {
    opacity: 0;
  }
}
:host dialog:not([open]) {
  opacity: 0;
  visibility: hidden;
}