@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
at-sidebar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}
at-sidebar .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: calc(var(--token-z-index-nav) - 1);
  cursor: pointer;
  will-change: opacity;
  transition: opacity var(--token-transition-time);
  animation: fadeIn 300ms forwards;
}
at-sidebar .nav {
  position: relative;
  width: var(--token-width-sidebar);
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  background-color: var(--token-sidebar-background);
  color: var(--token-sidebar-foreground);
  overflow-y: auto;
  z-index: var(--token-z-index-nav);
  will-change: width;
  transition: width var(--token-transition-time);
}
at-sidebar .nav at-sidebar-trigger {
  display: flex;
  width: 100%;
}
at-sidebar .nav-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 8px;
}
at-sidebar .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
at-sidebar i[slot=menu-item-actions],
at-sidebar * > [data-name=sidebar-menu-item-label] {
  transition: opacity 150ms ease;
}
at-sidebar :not(at-menu) i[slot=menu-item-actions],
at-sidebar :not(at-menu) [data-name=sidebar-menu-item-label] {
  opacity: 1;
}
at-sidebar at-sidebar-trigger {
  display: flex;
  justify-content: flex-end;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 36px;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 50px;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 64px;
}
at-sidebar at-sidebar-submenu at-menu [data-name=menu-content-wrapper] {
  background-color: var(--token-sidebar-background);
}
at-sidebar at-sidebar-trigger at-button [data-name=button-icon] {
  font-size: var(--token-font-size-icon-xl) !important;
}
at-sidebar[data-state=collapsed] .nav at-sidebar-trigger {
  width: 100%;
}
at-sidebar[data-state=collapsed] i[slot=menu-item-actions],
at-sidebar[data-state=collapsed] * > [data-name=sidebar-menu-item-label] {
  opacity: 0;
}
at-sidebar[data-state=collapsed] at-menu i[slot=menu-item-actions],
at-sidebar[data-state=collapsed] at-menu [data-name=menu-content-wrapper] [data-name=sidebar-menu-item-label] {
  opacity: 1;
}
at-sidebar[data-state=collapsed].collapse-offcanvas .nav {
  width: var(--token-width-sidebar-offscreen);
  overflow: hidden;
}
at-sidebar[data-state=collapsed].collapse-icon .nav {
  width: var(--token-width-sidebar-collapsed);
}
at-sidebar[data-state=collapsed].collapse-none .nav {
  width: var(--token-width-sidebar);
}
at-sidebar.mode-over .nav {
  position: absolute;
}
at-sidebar.mode-over.collapse-icon:not(.side-right) .content {
  padding-left: var(--token-width-sidebar-collapsed);
}
at-sidebar.mode-over.collapse-icon.side-right .content {
  padding-right: var(--token-width-sidebar-collapsed);
}
at-sidebar.side-right {
  flex-direction: row-reverse;
}