@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
at-sidebar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}
at-sidebar .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: calc(var(--token-z-index-nav) - 1);
  cursor: pointer;
  will-change: opacity;
  transition: opacity var(--token-transition-time);
  animation: fadeIn 300ms forwards;
}
at-sidebar .sidebar {
  position: relative;
  width: var(--token-width-sidebar);
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  background-color: var(--token-sidebar-background);
  color: var(--token-sidebar-foreground);
  z-index: var(--token-z-index-nav);
  will-change: width;
  transition: width var(--token-transition-time);
  overflow: visible;
}
at-sidebar .sidebar at-sidebar-trigger {
  display: flex;
  width: 100%;
}
at-sidebar .sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 8px;
  overflow-y: auto;
}
at-sidebar .page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
at-sidebar.side-right {
  flex-direction: row-reverse;
}
at-sidebar.mode-over .sidebar {
  position: absolute;
}
at-sidebar at-menu {
  display: none;
}
at-sidebar[data-state=collapsed] .sidebar.collapse-offcanvas {
  width: var(--token-width-sidebar-offscreen);
  overflow: hidden;
}
at-sidebar[data-state=collapsed] .sidebar.collapse-offcanvas .sidebar-footer {
  display: none;
}
at-sidebar[data-state=collapsed] .sidebar.collapse-icon {
  width: var(--token-width-sidebar-collapsed);
}
at-sidebar[data-state=collapsed] .sidebar.collapse-icon .sidebar-footer {
  display: none;
}
at-sidebar[data-state=collapsed] .sidebar.collapse-none {
  width: var(--token-width-sidebar);
}
at-sidebar[data-state=collapsed] i[slot=menu-item-actions],
at-sidebar[data-state=collapsed] at-sidebar-menuitem > [data-name=label] {
  opacity: 0;
  transition: opacity 150ms ease 0s;
}
at-sidebar[data-state=collapsed] at-menu {
  display: block;
}
at-sidebar[data-state=collapsed] at-menu i[slot=menu-item-actions],
at-sidebar[data-state=collapsed] at-menu [data-name=menu-content-wrapper] > at-sidebar-menuitem > [data-name=label] {
  opacity: 1;
}
at-sidebar .sidebar at-sidebar-trigger {
  width: 100%;
  justify-content: flex-end;
}
at-sidebar.collapse-icon.mode-over:not(.side-right) .at-sidebar__content {
  padding-left: var(--token-width-sidebar-collapsed);
}
at-sidebar.collapse-icon.mode-over.side-right .at-sidebar__content {
  padding-right: var(--token-width-sidebar-collapsed);
}
at-sidebar i[slot=menu-item-actions],
at-sidebar at-sidebar-menuitem > [data-name=label] {
  opacity: 1;
  transition: opacity 150ms ease 0.3s;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 40px;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 50px;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem {
  padding-left: 60px;
}
at-sidebar at-sidebar-menu at-sidebar-submenu [slot=submenu-content] at-sidebar-submenu [slot=submenu-content] at-sidebar-menuitem [data-name=label] {
  font-weight: var(--token-font-weight-normal);
}
at-sidebar at-sidebar-trigger {
  display: flex;
  justify-content: flex-end;
}
at-sidebar at-sidebar-trigger i {
  font-size: var(--token-font-size-icon-xl) !important;
}
at-sidebar [data-name=accordion-item-content] at-sidebar-menuitem .label {
  font-weight: var(--token-font-weight-light);
}
at-sidebar i[slot=menu-item-actions],
at-sidebar * > at-sidebar-menuitem [data-name=label] {
  transition: opacity 150ms ease;
}

at-sidebar .sidebar-content at-menu [data-name=menu-content-wrapper] {
  background-color: var(--token-sidebar-background);
}