:host .content, :host .label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding: 8px;
  border-radius: var(--token-menu-item-radius);
  font-size: var(--token-font-size-button);
  color: var(--token-sidebar-foreground);
  will-change: color, box-shadow;
  transition: color var(--token-transition-time-fast), box-shadow var(--token-transition-time-fast);
}
:host .content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
:host .label {
  z-index: 10;
  font-weight: var(--token-font-weight-med);
}
:host .badge {
  position: absolute;
  top: -8px;
  left: 22px;
  z-index: 20;
  padding: 2px 2px;
  font-size: 10px;
  pointer-events: none;
}
:host ::slotted([slot=icon]) {
  cursor: pointer;
  z-index: 10;
}
:host:hover:not([data-state=active]) {
  background-color: color-mix(in srgb, var(--token-surface-overlay) 7%, transparent);
}
:host:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px color-mix(in srgb, var(--token-state-active-accent) 30%, transparent);
}
:host[data-state=active] {
  background-color: var(--token-sidebar-active-background);
  color: var(--token-sidebar-active-foreground);
  transition-duration: 0ms;
}
:host[data-state=active] ::slotted([slot=icon]) {
  color: var(--token-sidebar-active-foreground);
  fill: var(--token-sidebar-active-foreground);
}