at-sidebar-menuitem .content, at-sidebar-menuitem .label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

at-sidebar-menuitem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--token-border-radius-md);
  padding: 6px 8px;
  text-align: left;
  cursor: pointer;
  font-size: var(--token-font-size-button);
  transition: background-color var(--token-transition-time-fast), color var(--token-transition-time-fast), box-shadow var(--token-transition-time-fast);
}
at-sidebar-menuitem .content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
}
at-sidebar-menuitem .badge {
  position: absolute;
  top: -8px;
  left: 22px;
  z-index: 20;
  pointer-events: none;
  padding: 2px 2px;
  font-size: 10px;
}
at-sidebar-menuitem .label {
  z-index: 10;
  font-weight: var(--token-font-weight-med);
}
at-sidebar-menuitem i.material-icons {
  font-family: "Material Icons";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--token-font-size-icon-xl);
  z-index: 10;
}
at-sidebar-menuitem .focus-indicator {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--token-sidebar-foreground);
  opacity: 0;
  transition: background-color var(--token-transition-time-fast);
}
at-sidebar-menuitem:hover .focus-indicator {
  opacity: 0.1;
}
at-sidebar-menuitem:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px color-mix(in srgb, var(--token-state-active-foreground) 60%, transparent);
}
at-sidebar-menuitem[data-state=active] {
  background-color: var(--token-state-active-foreground);
}
at-sidebar-menuitem[data-state=active] div[data-name=focus-indicator] {
  opacity: 0.1;
}
at-sidebar-menuitem.depth-0 {
  font-weight: var(--token-font-weight-light);
}
at-sidebar-menuitem.depth-1 {
  padding-left: 36px;
  font-weight: var(--token-font-weight-light);
}
at-sidebar-menuitem.depth-2 {
  padding-left: 50px;
  font-weight: var(--token-font-weight-light);
}
at-sidebar-menuitem.depth-3 {
  padding-left: 64px;
  font-weight: var(--token-font-weight-light);
}

[data-name=accordion-item-content] at-sidebar-menuitem .label,
at-menu at-sidebar-menuitem .label {
  font-weight: 400;
}