@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes animInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
.at-toaster {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: var(--token-z-index-modal);
  gap: 8px;
  padding: 12px;
}
.at-toaster.top-right {
  top: 12px;
  right: 12px;
  align-items: flex-end;
}
.at-toaster.top-left {
  top: 12px;
  left: 12px;
  align-items: flex-start;
}
.at-toaster.bottom-right {
  bottom: 12px;
  right: 12px;
  align-items: flex-end;
}
.at-toaster.bottom-left {
  bottom: 12px;
  left: 12px;
  align-items: flex-start;
}
.at-toaster.top-center {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
.at-toaster.bottom-center {
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.at-toast {
  min-width: var(--token-width-panel-xs);
  max-width: var(--token-width-panel-sm);
  box-shadow: var(--token-shadow-1);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  animation: animInUp 300ms ease-out forwards;
}
.at-toast.undismissible {
  cursor: default;
}
.at-toast.close {
  animation: animOut 200ms ease-out forwards;
}